body {
    margin-left: 20vw;
    margin-top: 2vh;
    margin-right: 20vw;
    margin-bottom: 2vh;
    font-family: Arial, Helvetica, sans-serif;
}

.chars {
    border: 5px solid orange; border-radius: 15px;
    width: 5vw;
    height: 5vh;
    padding: 10px;

}

h1 {
    color: blue;
}

h2 {
    color: cornflowerblue;
}

li {
    color: indigo;
}